<html>
    <head>

    </head>
    <body>
        <h1>WELCOME TO REGISTRATION PAGE</h1>
        <form action="/signupsubmit" method="GET">
            Full Name : <input type="text" name="full_name"><br>
            Email ID : <input type="text" name="email"><br>
            Password : <input type="password" name="password"><br>
            <input type="submit">
        </form>
    </body>
</html>
